.welcome-section {
    width: 100vw;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text {
    text-align: left;
    margin-bottom: 2em;
    
    & h3 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2;
    }

    & p.subtitle {
        margin: 2em 0;
        padding: 0 1.5em;
        font-size: 1.3rem;
        font-weight: 500;
        line-height: 1.5;
        border-left: 4px solid #CD9452;
    }

    & p.lorem {
        color: gray;
        padding: 0 1.5em 0 .5em;
        line-height: 2;
        font-size: 1.2rem;
    }

    & button {
        margin: 2.5em .5em;
        padding: 1.3em 2.6em;
        font-family: "Poppins", sans-serif;
        font-size: .9rem;
        letter-spacing: .15em;
        color: white;
        background-color: #CD9452;
        border-radius: .2rem;
        
        &:hover {
            cursor: pointer;
            color: #CD9452;
            background-color: white;
            border: 3px solid #CD9452;
        }
    }
}

.welcome-image {
    width: 100vw;
    height: auto;
    margin: 3em 0;
}

@media screen and (min-width: 768px) {
    .welcome-section {
        flex-direction: row;
        position: relative;
        z-index: 10;
        background-color: rebeccapurple;
    }

    .welcome-text {
        width: 50vw;
        margin: 0 2em;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
    }

    .welcome-image {
        width: 50vw;
        height: auto;
        margin: 0 2em;
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (min-width: 992px) {

}